.page_box {
  height: 100vh;
  // background-color: #C0BEB5;
}

.calssList {
  height: 90vh;
}

.classItem {
  width: 180px;
  height: 50px;
  border: 1px solid #BDBDBD;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.classItem:hover {
  cursor: pointer;
}

.addClass {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentClass {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .currentClass_span  {
    font-size: 20px;
    font-weight: 700;
    color: #BDBDBD;
    letter-spacing: 3px;
  }
}

.saveStudent {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}










.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}